  
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

/*Barra de navegação começa aqui*/

body,
.btn-outline-info {
    color: #F04E23;
    transition: 0.9s;
}

.logo {
    width: 180px;;
}

  
    .navBrand {
    flex-grow: 0;
  }
  
    .navbar .buttonList li {
    padding: 0.8em 0.4em;
    margin: 0 0 0 28px;
    cursor: pointer;
    display: none;
  }
  
  .flexList {
    width: 280px;
    display: flex;
    margin: 0 0 0 0;  
    align-items: center;
    justify-content: space-evenly;
    color: #F04E23;
    font-size: 18px;
    font-weight: 300;
  } 

  /*Termina aqui*/


.body-image {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

footer {
    color: #0484ca;
    margin-top: 0px;
    padding: 25px;
    font-weight: 100px;
}
  