@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.title-about {
    display: flex;
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-content: center;
    align-items: center;
}