  button{
    margin: 30px;
    font-size: 30px;
    align-content: center;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none; 
    color: #0484ca;
  }  
 

        .botao{
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
            margin-bottom: 50px;
           
         
        }
        

   
   