@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.header-back {
    width: 100%;
    height: 151px;
    padding: 44px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.logo-img {
  width: 20%;
}

.logo-img img {
  width: 300px;
}

.header-links {
  width: 80%;
}

ul {
  margin-left: 0px;
  list-style: none;
  display: flex;
}

li {
  margin: 10px;
  padding: 48px;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  color: #f04e23;
}

@media (max-width: 500px){
  .header-back{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
