h1{
    color:#0484ca;
    text-align: center;
}

label{
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #0484CA;
    text-align: center;  
}

input{
    display: flex;
    align-content: center;
    
}
button{
    margin: 30px;
    font-size: 25px;
    align-content: center;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none; 
    color: #0484ca;
  }  
