.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 45px;
}

input {
    display: flex;
    align-content: center;
    width: 60%;
    height: 30px;
    border-radius: 16px;
    border: solid #2fbd59;
}

h1{
    color:#0484ca;
    text-align: center;
}

label{
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #0484CA;
    text-align: center;  
}

/* .alinhar-botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} */
