@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.header-back {
    width: 100%;
    height: 151px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.logo-img {
  width: 20%;
}

.logo-img img {
  width: 300px;
  animation-duration: 3s;
  animation-name: ZoomIn;
}

.header-links {
  width: 80%;
}

ul {
  margin-left: 0px;
  list-style: none;
  display: flex;
}

li {
  margin: 10px;
  padding: 48px;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  color: #f04e23;
}

@keyframes ZoomIn {
  from {
    transform: scale(.1);
  }
  to {
    transform: scale(1);
  }
}
