@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.img-students img {
    width: 100%;
    margin-top: 0px;
}


.body-home {
    display: flex;
    align-content: center;
}